body,
body *,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

/* Fixed navbar */

nav {
  position: relative;
  overflow-y: hidden;
}

.navbar {
  padding: 8px 16px calc(213.5px - 87.5px);
}

.navbar-brand {
  margin-right: 0;
  width: 80px;
  position: relative;
  top: -16px;
  z-index: 99;
}

#navbarNavDropdown {
  width: calc(100% - 80px);
  float: left;
  padding-top: 8px;
}

.navbar-nav {
  display: unset;
  flex-direction: unset;
  padding-left: unset;
  margin-bottom: unset;
  list-style: unset;
}

.nav-link {
  position: relative;
  z-index: 99;
  display: unset;
  color: rgba(0,0,0,.3);
}

.navbar-nav .nav-link {
  padding-right: unset;
}

.list-inline li {
  float: left;
  padding-bottom: 4px;
  z-index: 98;
}

.list-inline li:nth-of-type(3) {
  position: relative;
  left: 20px;
}

.list-inline li a {
  color: rgba(0,0,0,.3);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 7.5px;
  z-index: 99;
}

.list-inline-item:not(:last-child) {
  margin-right: 16px;
}

.list-inline li:last-of-type {
  padding-top: 2px;
  padding-bottom: 10px;
}

.list-inline li:last-of-type a {
  padding-right: 0;
  padding-bottom: 3px;
}

.list-inline li:first-of-type a {
  padding-left: 0;
}

.list-inline li a:hover {
  color: rgba(0,0,0,.6);
  text-decoration: none;
}

form.form-inline {
  position: absolute;
  left: 0;
  width: 100%;
  top: 78px;
}

.form-group {
  float: right !important;
  margin-bottom: 0;
}

.form-row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

button {
  display: block;
}

.btn-success {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}

.btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-group,
.btn-div {
  margin-left: calc(100% - 209px);
  }

input {
  min-width: 193px;
  max-width: 193px;
}

.form-control {
  border: 1px solid #ccc;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #98999d;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #98999d;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #98999d;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #98999d;
}

/* Header (Jumbotron) */

header {
  padding-top: 205px;
  background-image: url('../images/_background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.jumbotron {
  background-color: transparent;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

h1.display-4 {
  font-size: 72px;
  letter-spacing: -3.4px;
  line-height: 1.1;
  overflow-y: hidden;
  margin-bottom: 6px;
}

.jumbotron > p:nth-of-type(2) {
  font-weight: 400;
  margin-bottom: 16px;
}

.text-main {
  color: #373a3c;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.input-group.mb-3 {
  width: 275.38px;
  margin-left: auto;
  margin-right: auto;
}

.input-group.mb-3 > input {
  max-width: 235px;
}

#form-signup button {
  display: block;
  margin: 0 auto;
  background-color: #0275d8;
  border-color:  #0275d8;
  padding-left: 16px;
  padding-right: 16px;
}

#form-signup button:hover,
#form-signup button:active {
  background-color: #025aa5;
  border-color:  #01549b;
}

#form-signup button:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* Main section */

main {
  margin-bottom: 5vh;
}

main h2.text-main {
  font-size: 40px;
  font-weight: 500;
  padding-top: 220px;
  line-height: 1.1;
  margin-bottom: 8px;
  overflow-y: hidden;
}

main p.text-main,
footer p.text-main {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 16px;
}

.card-row {
  padding-top: 10px;
}

h5 {
  font-size: 24px;
  line-height: 1.1;
  overflow-y: hidden;
}

h5.card-title i {
  position: relative;
  top: 2px;
}

.card {
  margin-bottom: 12px;
}

/* Footer */

footer {
  background: #01ffff;
  padding-bottom: 180px;
}

.footer-img img {
  width: 200px;
  display: block;
  margin: 0 auto;
}

footer h3.text-main {
  font-size: 32px;
  font-weight: 500;
  padding-top: 280px;
  line-height: 1.1;
  margin-bottom: 8px;
  overflow-y: hidden;
}

footer .col-12 {
  padding: 0;
}

/* MEDIA QUERIES */

/* First Breakpoint */

@media (min-width: 375px) {

  .navbar-brand {
    top: 2px;
  }

  .list-inline li:last-of-type a {
    padding-top: 7.5px;
    /* padding-right: 8px; */
    padding-bottom: 6px;
    /* padding-left: 4px; */
    }

  .list-inline li:first-of-type a {
    padding-left: 0;
  }

  .list-inline li:first-of-type a,
  .list-inline li:nth-of-type(2) a {
    padding-bottom: 6px;
  }

  .list-inline li:nth-of-type(3) {
    padding-bottom: 4px;
    padding-top: 0;
    left: 0;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 11.5px;
  }

  form.form-inline {
    top: 50px;
  }

  header {
    padding-top: 174px;
  }

  main h2.text-main {
    padding-top: 190px;
  }

  h1.display-4 {
    letter-spacing: unset;
  }

  .input-group.mb-3 {
    width: 330.38px;
  }
  
  .input-group.mb-3 > input {
    max-width: 290px;
  }
}

/* Second Breakpoint */

@media (min-width: 385px) {
  .navbar-brand {
    top: -1px;
  }

  .list-inline li:nth-of-type(3) {
    left: unset;
  }

  form {
    margin-top: 0;
  }

  form.mt-1 {
    margin-top: 2.5px !important;
  }

  a.navbar-brand,
  a.nav-link {
    padding-bottom: 0;
  }

  .list-inline li:first-of-type a,
  .list-inline li:nth-of-type(2) a {
    padding-bottom: 3px;
  }

  .list-inline-item:not(:last-child) {
    margin-right: 16px;
  }
}

/* Third Breakpoint */

@media (min-width: 400px) {
  .navbar-brand {
    top: -1px;
  }

  header {
    padding-top: 30vh;
    padding-bottom: 10vh;
  }

  form.form-inline {
    top: 43px;
  }

  footer h3.text-main {
    padding-top: 50vh;
  }
}

/* Fourth Breakpoint */

@media (min-width: 568px) {
  .navbar {
    padding: 8px 16px calc(213.5px - 164.5px);
  }
  
  .form-group,
  button {
    display: inline-block;
    margin-left: 0;
  }
  
  .form-row {
    padding-left: calc(100% - 484.61px);
    margin-right: 0;
  }

  .btn-div {
    margin-left: 0;
  }

  input {
    margin-right: 4.5px;
  }

  header {
    padding-top: 92px;
  }

  h1.display-4 {
    padding-top: 18px;
  }

  #form-signup {
    display: inline-flex;
    width: 497px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group.mb-3 {
    position: relative;
    left: 20px;
    margin-bottom: 0 !important;
  }

  #form-signup button {
    margin-left: 5px;
    position: relative;
    left: -10px;
  }

  main h2.text-main {
    padding-top: 28vh;
}

  .card-col {
    flex: 1;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 187px;
  }

  .card-row {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  footer h3.text-main {
    padding-top: 35vh;
  }

  footer {
    padding-bottom: 24vh;
  }
}

/* Fifth Breakpoint */

@media (min-width: 600px) {
  form.form-inline {
    position: absolute;
    top: 43.5px;
    right: 20px;
  }

  .navbar {
    padding-bottom: 49px;
  }
}

/* Sixth Breakpoint */

@media (min-width: 768px) {
  header {
    padding-top: 33vh;
    padding-bottom: 35vh;
  }

  #form-signup {
    display: flex;
  }

  .input-group.mb-3 {
    width: 340.38px;
    left: 16px;
  }

  .input-group.mb-3 > input {
    max-width: 300px;
  }

  main h2.text-main {
    padding-top: 24vh;
  }

  .card-row {
    padding-top: 5vh;
  }

  .card-col {
    max-width: 235px;
  }

  footer {
    padding-bottom: 36vh;
  }
}

/* Seventh Breakpoint */

@media (min-width: 870px) {

  header {
    padding-top: 28vh;
    padding-bottom: 40vh;
  }

  form.form-inline {
    top: 5px;
    right: 16px;
  }

  .navbar {
    padding-bottom: 11px;
  }

  h1.display-4 {
    padding-top: 56px;
  }

  .card-row {
    padding-top: 4vh;
  }

  footer h3.text-main {
    padding-top: 30vh;
  }

  footer {
    padding-bottom: 25vh;
  }
}

/* Eighth Breakpoint */

@media (min-width: 992px) {

  header {
    padding-top: 32vh;
    padding-bottom: 40vh;
    background-size: cover;
  }

  .card-col {
    max-width: 308px;
  }

  .card-row {
    padding-top: 10px;
  }

  h1.display-4 {
    padding-top: 70px;
  }

  main {
    margin-bottom: 16vh;
  }

  h2.text-main {
    padding-top: 20vh;
  }

  main p.text-main {
    margin-bottom: 5vh;
  }
  
}

/* Ninth Breakpoint */

@media (min-width: 1200px) {

  .card-col {
    max-width: 374px;
  }

  main h2.text-main {
    padding-top: 10vh;
  }

  main p.text-main {
    margin-bottom: 0.5vh;
  }

  footer h3.text-main {
    padding-top: 35vh;
  }

  footer {
    padding-bottom: 35vh;
  }
  
}

