body,
body *,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  position: relative;
}

/* Fixed navbar */

nav {
  position: relative;
  overflow-y: hidden;
}

.navbar {
  padding: 8px 16px calc(213.5px - 87.5px);
}

.navbar-brand {
  margin-right: 0;
  width: 80px;
  position: relative;
  /* border: 1px solid red; */
  top: -17px;
}

#navbarNavDropdown {
  width: calc(100% - 80px);
  float: left;
  /* border: 1px solid red; */
}

.list-inline li {
  float: left;
}

.list-inline li:nth-of-type(3) {
  position: relative;
  left: 20px;
}

.list-inline li a {
  color: rgba(0,0,0,.3);
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-top: 7.5px;
}

.list-inline li:last-of-type a {
  padding-right: 16px;
  padding-bottom: 3px;
  padding-top: 9px;
}

.list-inline li a:hover {
  color: rgba(0,0,0,.6);
}

form.form-inline {
  position: absolute;
  left: 0;
  width: 100%;
  top: 78px;
}

.form-group {
  float: right !important;
  margin-bottom: 0;
}

.form-row {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

button {
  display: block;
}

.btn-success {
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}

.btn-success:hover,
.btn-success:not(:disabled):not(.disabled):active {
  background-color: #449d44;
  border-color: #419641;
}

.btn-success:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.form-group,
.btn-div {
  margin-left: calc(100% - 209px);
  }

input {
  min-width: 193px;
  max-width: 193px;
}

.form-control {
  border: 1px solid #ccc;
}

.form-control:focus {
  box-shadow: none;
}

.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #98999d;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  color: #98999d;
}
.form-control:-ms-input-placeholder { /* IE 10+ */
  color: #98999d;
}
.form-control:-moz-placeholder { /* Firefox 18- */
  color: #98999d;
}

/* Header (Jumbotron) */

header {
  margin-top: 205px;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  margin-bottom: 100vh;
}

.jumbotron {
  background-color: transparent;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 0;
  padding-top: 5px;
}

h1.display-4 {
  font-size: 72px;
  letter-spacing: -3.4px;
  line-height: 1.1;
  overflow-y: hidden;
  margin-bottom: 6px;
}

.jumbotron > p:nth-of-type(2) {
  font-weight: 400;
  margin-bottom: 16px;
}

.text-main {
  color: #373a3c;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
}

.input-group.mb-3 {
  width: 280.38px;
  margin-left: auto;
  margin-right: auto;
}

.input-group.mb-3 > input {
  max-width: 240px;
}

#form-signup button {
  display: block;
  margin: 0 auto;
  background-color: #0275d8;
  border-color:  #0275d8;
  padding-left: 16px;
  padding-right: 16px;
}

#form-signup button:hover,
#form-signup button:active {
  background-color: #025aa5;
  border-color:  #01549b;
}

#form-signup button:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* MEDIA QUERIES */

/* First Breakpoint */

@media (min-width: 375px) {

  .list-inline li:last-of-type a {
    padding-top: 7.5px;
  }

  .list-inline li:first-of-type a {
    padding-left: 0;
  }

  .list-inline li:first-of-type a,
  .list-inline li:nth-of-type(2) a {
    padding-bottom: 6px;
  }

  .list-inline li:nth-of-type(3) {
    left: 10px;
  }

  h1.display-4 {
    letter-spacing: unset;
  }

  .input-group.mb-3 {
    width: 330.38px;
  }
  
  .input-group.mb-3 > input {
    max-width: 290px;
  }
}

/* Second Breakpoint */

@media (min-width: 385px) {
  .navbar-brand {
    top: -18px;
  }

  /* .form-group,
  .btn-div {
    margin-left: 150px;
  } */

  .list-inline li:nth-of-type(3) {
    left: unset;
  }

  form {
    margin-top: 0;
  }

  form.mt-1 {
    margin-top: 2.5px !important;
  }

  a.navbar-brand,
  a.nav-link {
    padding-bottom: 0;
  }

  .list-inline li:first-of-type a,
  .list-inline li:nth-of-type(2) a {
    padding-bottom: 3px;
  }
}

/* Third Breakpoint */

@media (min-width: 400px) {
  .navbar-brand {
    top: -1px;
  }

  form.form-inline {
    top: 43px;
  }

  header {
    margin-top: 169px;
  }
}

/* Fourth Breakpoint */

@media (min-width: 576px) {
  .navbar {
    padding: 8px 16px calc(213.5px - 164.5px);
  }
  
  .form-group,
  button {
    display: inline-block;
    margin-left: 0;
  }
  
  .form-row {
    padding-left: calc(100% - 484.61px);
    margin-right: 0;
  }

  .btn-div {
    margin-left: 0;
  }

  input {
    margin-right: 4.5px;
  }

  header {
    margin-top: 92px;
  }

  h1.display-4 {
    padding-top: 18px;
  }

  #form-signup {
    display: inline-flex;
    width: 497px;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group.mb-3 {
    position: relative;
    left: 20px;
    margin-bottom: 0 !important;
  }

  #form-signup button {
    margin-left: 5px;
    position: relative;
    left: -10px;
  }
}

/* Fifth Breakpoint */

@media (min-width: 600px) {
  form.form-inline {
    position: absolute;
    top: 43.5px;
    right: 20px;
  }

  .navbar {
    padding-bottom: 49px;
  }
}

/* Sixth Breakpoint */

@media (min-width: 768px) {
  #form-signup {
    display: flex;
  }

  .input-group.mb-3 {
    width: 340.38px;
    left: 16px;
  }

  .input-group.mb-3 > input {
    max-width: 300px;
  }
}

/* Seventh Breakpoint */

@media (min-width: 870px) {

  form.form-inline {
    top: 5px;
    right: 16px;
  }

  .navbar {
    padding-bottom: 11px;
  }

  header {
    margin-top: 54px;
  }

  h1.display-4 {
    padding-top: 56px;
  }
}

